@using AnimalAdoption.Controllers
@model IEnumerable<AnimalAdoption.Models.Animal>

<h1 class="text-white text-center">Available Animals for Adoption</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="~/images/animals/@item.Image" class="card-img-top" alt="image of @item.Name" style="height: 250px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">Age: @AnimalsController.CalculateAge(item.DateOfBirth)</p>
                    <p class="card-text">Gender: @Html.DisplayFor(modelItem => item.Gender)</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">View Details</a>
                </div>
            </div>
        </div>
    }
</div>
